
$panelColors: (
    white-alabaster: #F7F7F3,
    normal-alabaster: #DFDFCE,
    mid-alabaster: #C7C7A9, // sage
    dark-alabaster: #949461,  
    roast-alabaster: #6F6F49,
    black-alabaster: #3E3E28
)